# Images / temporary Images
photos/
photos-tmp/
*.jpg
*.jpeg
*.png
*.heic
*.mp4
*.mov

# Python
venv/
.venv/
__pycache__/
*.pyc

# Lokale/variable Daten
printer_stats.json
settings.json

# Secrets / lokale Umgebung
.env
.envrc

# temporary
*.log
*.zip

# templates
assets/templates/*
!assets/templates/example/
!assets/templates/example/**
